.tab {
  display:flex;
  align-items: center;
  background: #c3a9ee;
  padding: 1.5em;
}

.nav-right {
  
}

.tab a {
  padding: 0.7em;
} 

.tab a:hover {
  color: black;
  text-decoration: underline;
}

.header {
  background: #c3a9ee;
  /* padding: 1.5em; */
}
